[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
vault_program = "uDmj4mV6bSGt43SajwZohAYcrBcdGH1Hyduaf5wEwvh"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun test ./tests/vault_program.ts --timeout 10000"
